# Random Forest Classifier

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
import matplotlib.pyplot as plt
import seaborn as sns

## Reading data

In [2]:
df = pd.read_csv(r"..\Data\full_ohe.csv")
df.head()

,age,default,housing,loan,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,...,month_mar,month_may,month_nov,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed
0,0.481481,1,1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
1,0.493827,0,1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
2,0.246914,1,-1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
3,0.283951,1,1,1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0
4,0.481481,1,1,-1,0.0,1.0,0.0,0,0.9375,0.698753,...,0,1,0,0,0,0,1,0,0,0

In [3]:
# raw data
X = df.drop('y', axis=1).values
y = df['y'].values
X.shape,y.shape

((73668, 55), (73668,))

#### Test Train Split

In [4]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

## Training Random Forest Classifier

In [5]:
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

## Testing

In [6]:
predict = rfc.predict(x_test)

In [7]:
acc = accuracy_score(predict, y_test)
pre = precision_score(predict, y_test)
rec = recall_score(predict, y_test)
f1 = f1_score(predict, y_test)

In [8]:
table = pd.DataFrame({
    'Metric': ['Accuracy', 'Precision', 'Recall', 'F1 Score'],
    'Score': [acc, pre, rec, f1]
    })
table

      Metric     Score
0   Accuracy  0.958554
1  Precision  0.999459
2     Recall  0.924072
3   F1 Score  0.960288

# Feature Importance

In [9]:
df = pd.read_csv(r"C:\Users\bhara\Desktop\PR\FinalData\full_le.csv")
X = df.drop('y', axis=1).values
y = df['y'].values
pp=df.drop('y', axis=1)
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(x_train, y_train)
feature_importances = pd.DataFrame(rfc.feature_importances_,index = pp.columns,columns=['importance']).sort_values('importance',ascending=False)

In [10]:
feature_importances

                importance
age               0.172462
euribor3m         0.138680
campaign          0.086847
nr.employed       0.083347
job               0.083244
education         0.076258
day_of_week       0.057428
emp.var.rate      0.048869
marital           0.039939
housing           0.032463
cons.conf.idx     0.030333
loan              0.024658
pdays             0.021250
cons.price.idx    0.018269
default           0.017415
month             0.016916
contact           0.015253
previous          0.013538
poutcome          0.011729
pdays2            0.011103

### This is a list of all features ranked based on their importance to the random forest classifier